variables:
    NAT_SG_NAME:
        required: true
        description: the name of the security group to create for the NAT
        default: NAT-sg
    VPC_NAME:
        required: true
        description: the name of the VPC
        default: test-vpc
    NAT_INGRESS_PORTS:
        required: true
        description: allowed ingress ports on the nat
        default:
            - 0..65535
        type: array
    NAT_INGRESS_CIDRS:
        required: true
        description: allowed ingress network cidrs on the nat
        default:
            - 0.0.0.0/0
        type: array
    NAT_EGRESS_PORTS:
        required: true
        description: allowed ingress ports on the nat
        default:
            - 0..65535
        type: array
    NAT_EGRESS_CIDRS:
        required: true
        description: allowed ingress network cidrs on the nat
        default:
            - 0.0.0.0/0
        type: array
    NAT_NAME:
        required: true
        description: the name of the nat instance
        default: NAT
    NAT_SIZE:
        required: true
        description: the instance size of the nat
        default: t2.small
    NAT_GROUP_SIZE_MIN:
        required: true
        description: the miniumum number of NAT instances to launch
        default: 1
        type: number
    NAT_GROUP_SIZE_MAX:
        required: true
        description: the maximum number of NAT instances to launch
        default: 1
        type: number
    PUBLIC_SUBNET_NAME:
        required: true
        description: the cloudcoreo name of the public vpc subnets
        default: test-public-subnet
    TIMEZONE:
        default: America/Chicago
        value: America/Chicago
        description: the timezone the servers should come up in
        overrides: null
        required: true
        type: null
    MONITORINTERVAL:
        required: true
        description: time in seconds between route checks
        default: 20
        type: number
    PRIVATE_SUBNET_NAME:
        default: test-private-subnet
        required: true
        descripiton: the name of the private subnet
    PRIVATE_SUBNETS:
        default: "COMPOSITE::coreo_aws_vpc_subnet.test-private-subnet.subnet_ids"
        required: true
        descripiton: comma seperated list of the private subnet ids
    NAT_KEY:
        required: false
        description: The name of the key to use for the nat box
        default: TBS
    DATADOG_KEY:
        default: null
        value: null
        description: "If you have a datadog key, enter it here and we will install the agent"
        overrides: null
        required: false
    LOGFILE:
        required: false
        description: ha-nat log file
        default: /var/log/ha-nat.log
    SUFFIX:
        required: false
        description: when used will use the value to suffix the names of all converged objects
        type: string

# NAT AMI's are for:
#   Amazon Linux AMI 2016.09.0.20161028 x86_64 VPC NAT HVM EB

